:root {
    --main-bg-color: brown;
    --dark-bg: #000000;
    --semi-dark-bg: #191F29;
    --btn-bg: #6772E5;
    --light-purple: #A3AAEF;
    --nlight-purple: #818cf8;
    --tert-color: #F5BE58;
    --white-color: #FFF;
    --blue-color: #06A3F2;
    --green-color: #4AAE90; 
    --fad-dark:#17181D;
    --fad-dark-s:#222329;
		--gray-color: #888F96;
        --blur-btn-bg: #f39c12;
        --blur-btn-border: #e67e22;  
} 

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background: var(--dark-bg);
    color: var(--white-color);
    width: 250px;
    padding: 15px;
}

h2 {
    margin:0;
    font-size: 15px;
}

.banner {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--fad-dark);
}

.banner p {
    color: var(--gray-color);
    line-height: 1.5;
}

.banner-caption img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.option-list {
    margin-bottom: 5px;
}

/* .scan-button,
.blur-button {
  margin-bottom: 20px;
} */

/* .banner-buttons {

} */


.scan-button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--btn-bg);
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.blur-button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--fad-dark);
    border: none;
    outline: none;
    cursor: pointer;
  }

label {
    display: block;
    cursor: pointer;
}
.rot {
transform: rotate(-90deg) translateX(-10rem);
}
.toggle-container {
    position: relative;
    padding-left: 30px;
}

.toggle-blur {
    margin-top: 15px;
}

/* Custom checkbox styling */
input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}

.toggle-container input[type="checkbox"], .toggle-container label, .banner-caption img, .banner-caption h2, .banner-buttons{
    display: inline-block;
    vertical-align: middle;
}


input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--fad-dark-s);
    background-color: var(--fad-dark);
    border-radius: 5px;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked + label:before {
    background-color: var(--btn-bg);
    border-color: var(--btn-bg);
}

input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: 4.5px;
    left: 4.5px;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background-color: var(--white-color);
    transition: left 0.15s ease;
}

.blurred-key {
    filter: blur(5px);
}
